.house-form {
  text-align: center;
  padding: 5px;
}

.house-form ul {
  list-style-type: none;
}

.house-form div {
  display: table-row;
}

.house-form h1 {
  font-weight: normal;
}

.house-form button {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #d9e2f1;
  background-color: #fff;
  color: #414956;
}
