.houses-list {
  max-width: 65vw;
  max-height: 80vh;
  min-width: 65vw;
  min-height: 80vh;
  overflow: auto;
  display: flex;
}

.houses-list ul {
  list-style-type: none;
  white-space: nowrap;
  margin-top: auto;
}

.houses-list li {
  display: inline-block;
  padding: 0.5rem;
}
