.house-input input[type="number"] {
  display: block;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #000000;
  background-color: #93b3e5;
  color: #414956;
}

.house-input input[type="color"] {
  display: block;
  padding: 0.5rem;
}

.house-input label {
  display: block;
  font-weight: bold;
  font-size: 0.8rem;
  font-family: "Quicksand", sans-serif;
}

.house-input button {
  border-radius: 0.5rem;
  border: 0.1rem solid #000000;
}

.house-input div {
  float: left;
  margin: 1rem;
}
